{% extends "layout.html" %}

{% block title %}
40hr
{% endblock %}

{% block main %}
<h1>Time managment</h1>
<br />
<div class="dropdown show">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Current week
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Previous week</a>
    </div>
</div>

</div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            {% for item in timehead %}
            <th scope="col">{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for day in days %}
        <tr>
            <th scope="col">{{day}}</th>
            {% for j in range(4)%}
            <td>
            <select>
                    {% for hour in range(0,24) %}
                        <option value="{{hour}}">{{hour}}</option>
                    {% endfor %}                        
            </select> :
            <select>
                {% for minute in range(0,60) %}
                    <option value="{{minute}}">{{minute}}</option>
                {% endfor %}                        
            </select>
            </td>
            {% endfor %}
            <td value="{{day}}">Total</td>
        </tr>
        {% endfor %}

        <tr>
            <th>TOTAL HOURS</th>
            <th>value total</th>
        </tr>
        <br>
        <tr>
            <th>Remaining time</th>
            <th>40- total</th>
        </tr>

    </tbody>
</table>


<script>
    $('select').change(function () {
        var total1 = 0;
        $('select :selected').each(function () {
            total1 += Number($(this).val());
        });
        $("#total1").html(total1);
    });
</script>

{% endblock %}